<div class="display">
  <div class="segment" [ngClass]="{'active': segments.a}" id="a"></div>
  <div class="segment" [ngClass]="{'active': segments.b}" id="b"></div>
  <div class="segment" [ngClass]="{'active': segments.c}" id="c"></div>
  <div class="segment" [ngClass]="{'active': segments.d}" id="d"></div>
  <div class="segment" [ngClass]="{'active': segments.e}" id="e"></div>
  <div class="segment" [ngClass]="{'active': segments.f}" id="f"></div>
  <div class="segment" [ngClass]="{'active': segments.g}" id="g"></div>
</div>